<!-- commons/change-password.html -->
{% extends 'index.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block body %} 

    <center>
        <h2>Reset Password</h2>
        <h3>Enter your new password</h3>
        <form class="form my-4" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.as_p }}
          <button type="submit" class="btn btn-success">Change Password</button>
        </form>
    </center>
{% endblock body %}







